---
title: Product Maturity
---

<%#
  Milestones at GitLab do not follow a conventional schedule instead they are offset by 1 month. That is, Q1 starts on Feb 1 not Jan 1.

  How could we automate the rotation of the table headings so that we don't have to update the table each quarter?

 %>

<div class="grid grid-cols-1 gap-2">
  <div class="col-span-1 bg-white p-10 rounded text-center"><h1 class="text-3xl text-center">Prouct Maturity</h1></div>
  <div class="col-span-1 p-10">
    <table class="border-collapse table-auto">
      <thead>
        <tr>
          <th class="px-4 py-2">category</th>
          <th class="px-4 py-2">2021-08-01 (Q3)</th>
          <th class="px-4 py-2">2021-11-01 (Q4)</th>
          <th class="px-4 py-2">2022-02-01 (Q1)</th>
          <th class="px-4 py-2">2022-05-01 (Q2)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border border-gray-700 px-4 py-2">membership</td>
          <td class="border border-gray-700 px-4 py-2">good</td>
          <td class="border border-gray-700 px-4 py-2">better</td>
          <td class="border border-gray-700 px-4 py-2">best</td>
          <td class="border border-gray-700 px-4 py-2">awesome</td>
        </tr>
        <tr>
          <td class="border border-gray-700 px-4 py-2">orange</td>
          <td class="border border-gray-700 px-4 py-2">new</td>
          <td class="border border-gray-700 px-4 py-2">good</td>
          <td class="border border-gray-700 px-4 py-2">better</td>
          <td class="border border-gray-700 px-4 py-2">better</td>
        </tr>
        <tr>
          <td class="border border-gray-700 px-4 py-2">perspective</td>
          <td class="border border-gray-700 px-4 py-2">awesome</td>
          <td class="border border-gray-700 px-4 py-2">awesome</td>
          <td class="border border-gray-700 px-4 py-2">lovable</td>
          <td class="border border-gray-700 px-4 py-2">super lovable</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

