<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "style" %>
    <%= javascript_include_tag "site.min" %>
  </head>
  <body>
    <div class="container mx-auto">
      <div class="w-screen min-h-screen flex items-center justify-center">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
