---
title: A simple list of products
---

<div class="grid grid-cols-1 gap-2">
  <div class="col-span-1 bg-white p-10 rounded text-center"><h1 class="text-3xl">Products</h1></div>
  <% data.products.products.each do |product| %>
    <div>
      <p>
        <%= product.name %>
      </p>
    </div>
  <% end %>
</div>
