---
title: Welcome to the Miniturized Handbook
---
<div class="grid grid-cols-1">
  <div class="col-span-1 bg-white p-10 text-center"><h1 class="text-3xl">Miniature Handbook</h1></div>
  <div class="p-10 border-b border-grey-600">
    <h3 class="text-2xl py-3">Resources</h3>
    <div>
      <%= link_to(
        "Middleman Documentation",
        "https://middlemanapp.com/basics/templating_language/",
        target: "_blank"
      ) %>

      <%= link_to(
        "Ruby reference",
        "https://ruby-doc.org/",
        target: "_blank"
      ) %>

      <%= link_to(
        "GitLab API refernce",
        "https://docs.gitlab.com/ee/api/api_resources.html",
        target: "_blank"
      ) %>
    </div>
  </div>
  <div class="col-span-1 bg-white bg-white p-10 border-b border-grey-600">
    <div class="">
      <h3 class="text-2xl py-3">Secret Projects</h3>
      <%= partial "partials/_projects.md.erb"%>
    </div>
  </div>
  <div class="col-span-1 bg-white p-10 bg-white border-b border-grey-600">
    <div class="">
      <h3 class="text-2xl py-3">Index</h3>
      <ul>
        <li>Features</li>
        <li>Product Maturity</li>
        <li>Issues</li>
        <li></li>
      </ul>
    </div>
  </div>
</div>
